
body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.mainpage {
  width: 1200px;
  background-color: #ffffff;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-menu {
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
}

.main-menu li {
  width: 239px;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 18px;
}

 .main-menu li:nth-child(2) {
   margin-right: 244px;
 }

.main-navigation {
  line-height: 26px;
  font-weight: 700;

  background-color: #ffffff;
}

.main-menu,
.advantages,
.advantages2,
.buttonfooter {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-menu a:hover,
.main-menu a:focus,
.hotelitems:hover,
.hotelitems:focus {
  color: #81b3d2;
}

.main-menu li .current {
  color: #766357;
}

.main-logo img {
  position: absolute;
  left: 600px;
}

.container-photos {
  background-image: url("../img/backgroundmain.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color:#81b3d2;
}

.container-photos img {
  margin-top: 70px;
  margin-left: 370px;
  margin-bottom: 130px;
}

.feature h1::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 563px;
    left: 75px;
    width: 1200px;
    height: 57px;
    background-image: url("../img/shapewhite.png");
    background-repeat: no-repeat;
}

.feature h1 {
  margin-top: 60px;
  margin-right: 380px;
  margin-left: 380px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.feature p {
  margin-bottom: 62px;

  line-height: 26px;
  color: #767676;
  text-align: center;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #81b3d2;
}

.aboutcity-container1 h2{
  width: 130px;
  margin: auto;
}

.container2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
}

.attraction-container2 h2 {
  width: 151px;
  margin: auto;
}

.aboutcity h2,
.attraction h2 {
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.aboutcity p {
  margin-left: 60px;
  margin-right: 60px;

  text-align: center;
  color: #ffffff;
}

.attraction p {
  margin-right: 45px;
  margin-left: 45px;

  text-align: center;
  color: #ffffff;
}

.container3 ul {
  background-color: #eeeeee;
  padding: 0;
}

.advantages {
   display: flex;
   flex-wrap: wrap;
   margin-top: 66px;
   margin-bottom: 73px;
 }

.advantages li {
   width: 400px;
   margin: auto;
}

.advantages svg {
  display: flex;
  margin: auto;
}

.advantages h3 {
  position: relative;

   font-size: 21px;
   font-weight: 700;
   text-align: center;
 }

.advantages p {
  text-align: center;
  background-color: #ffffff;
  color: #767676;

  width: 287px;
}

.advantages2 {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0;
}

.advantages2 li{
  width: 400px;
  margin-top: 50px;
  margin-bottom: 65px;
}

.advantages2 p{
  text-align: center;
  color: #767676;

  width: 270px;
  margin-right: auto;
  margin-left: auto;
}

.advantages2 h3{
  font-size: 21px;
  font-weight: 700;
  text-align: center;

  margin: auto;
  width: 125px;
}

/*футер*/

.main-footer {
  display: flex;
  background-color: transparent;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:hover path,
.social-button:focus path {
  fill: #ffffff;
}

.social-button:active path {
  fill:rgba(255,255,255,0.3) ;
}

.social-button:active path {
   background-color: #5496bd;
}

.buttonfooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-hashtag,
.buttonfooter,
.htmlacademy {
  width: 400px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.htmlacademy p,
.button-hashtag {
  font-size: 14px;
  line-height: 26px;
}

.htmlacademy {
  display: flex;
  margin-left: auto;
  justify-content: center;
}

.htmlacademy p {
  padding-right: 10px;
}

.htmlacademy path:focus,
.htmlacademy path:hover {
  fill: #81b3d2;
}

.htmlacademy path:active {
  fill: #bfbdbe;
}

/*конец футера*/


/*кнопки и форма на главной странице*/
.searchhotels h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.searchhotels p {
  line-height: 24px;
  text-align: center;
}

.staticbutton,
.buttonsearch {
  display: inline-block;
  vertical-align: middle;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  outline: none;
}

.staticbutton {
  padding: 30px 150px;
}

.buttonreserved,
.buttondetails {
  padding: 5px 15px;
  font-weight: 700;
}

.staticbutton,
.buttonreserved {
  color: #ffffff;
  background-color: #766357;
  border: none;
}

.buttonsearch,
.buttondetails {
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.staticbutton:hover,
.staticbutton:focus,
.buttonreserved:hover,
.buttonreserved:focus {
  background-color: #604e43;
}

.buttonsearch:hover,
.buttonsearch:focus,
.buttondetails:hover,
.buttondetails:focus {
  background-color: #669ec0;
}

.buttonsearch:active,
.buttondetails:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.staticbutton:active,
.buttonreserved:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotelselection {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 470px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.datearrival input,
.datedeparture input {
  box-sizing: border-box;
  width: 344px;
  padding: 10px 228px 10px 10px;
}

.adults input,
.children input {
  margin: auto;
  padding: 10px;
}

.buttonsearch {
  padding: 16px 195px;
  margin: auto;
  margin-bottom: 10px;
}


.hotelselection input[type="text"] {
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.hotelselection input[type="text"]:hover {
  background-color: #ebebeb;
}

.hotelselection input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

/*конец формы на главной странице*/

.formsearching {
  display: flex;
  padding-top: 30px;


  background-image: url("../img/mountains.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #51819f;

  color:#ffffff;
}

.formsearching fieldset {
  border:none;
}


/*чекбоксы*/
input[type="checkbox"]:checked + label span{
  background:url("../img/checkbox-on.svg") no-repeat;
}


.formsearching legend {
  font-size: 16px;
  font-weight: 700;
  border: none;

  margin-bottom: 30px;
  margin-left: 65px;;

}

.formsearching ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


.form-items{
  margin-bottom: 19px;
  padding-left: 70px;

  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

.filter-input-checkbox + label span{
    display:inline-block;
    width:20px;
	margin-right: 10px;
    height:20px;
    vertical-align:middle;
	border: 2px solid #ffffff;
    cursor:pointer;
	border-radius: 3px;
}

/*конец чекбоксов*/

.hotelitems,
.exit h3,
.button-hashtag,
.exit output {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-items {
  display: flex;
  margin: 10px 73px;
}

.exit h3,
.exit output {
  display: inline-block;
  vertical-align: middle;
}

.sorting p {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.sorting li {
  margin: auto;
  margin-right: 35px;
}

.sorting li,
.hotels li {
  list-style: none;
  padding: 0;
}

.sorting li .currentpice {
  color: #bad3e5;
  border-bottom: none;
}

.sorting a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dashed #81b3d2;
}

.sortingbuttons {
  align-self: center;
  margin-left: auto;

}

.sortingbuttons a{
  cursor:pointer;
}

.sortingbuttonup svg{
  padding-right: 5px;
}

.sortingbuttonup path{
  fill: #cacaca;
}

.currentbutton path {
  fill: #81b3d2;
}

.sortingbuttons path:hover,
.sortingbuttons path:focus {
  fill: #333333;
}

.sortingbuttons path:active {
  fill: #81b3d2;
}


.sorting a:hover,
.sorting a:focus {
  color: #81b3d2;
}

.sorting a:active {
  color: #000000;
  border-bottom: none;
}

.hotelitems:active,
.main-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}


/*сложный фильтр*/

.filter-range {
  width: 330px;
  padding-right: 70px;
  margin-left: auto;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  height: 36px;
  margin-bottom: 20px;

  position: relative;
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  outline: none;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-scan input[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  outline: none;
  text-transform: uppercase;

  border-radius: 2px;
  cursor: pointer;
}

.button-scan input[type="submit"]:hover {
  color: #000000;
  background-color: #ffffff;
}

/*конец сложного фильтра*/


/*отели*/

.total {
  display: flex;
  border-bottom: 2px solid #e5e5e5;
  border-top: 2px solid #e5e5e5;
}

.total .hoteldetails {
  font: inherit;
  font-weight: 400;
}


.hotels li{
  display: flex;
  margin-top: 25px;
}

.hotel-decoration{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.hotelbuttons {
  margin-top: 15px;
}

.hoteldetails {
  padding-top: 5px;
}

.hotels img{
  margin-left: 35px;
}

.rating {
  margin-top: 60px;
  margin-bottom: 25px;
  margin-left: 530px;
  color: #666666;
  background-color: #f2f2f2;
  padding: 3px 10px;
}


/*доп.параметры*/
img{
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
